<form action="" id="formMailing">
    <h4>Te enviaremos un correo electrónico para restablecer tu contraseña.</h4>
    <div>
        <label for="input_email">Email</label>
        <input type="text" name="email" placeholder="email" id="input_email">
    </div>
    <br/>
    <button type="submit">Enviar</button>
</form>

<script src="/js/recoverMailing.js"></script>